<?xml version="1.0" encoding="UTF-8"?>
<web-app>
       <display-name>Archetype Created Web Application</display-name>

<listener>
     <listener-class>
        com.sun.xml.ws.transport.http.servlet.WSServletContextListener
      </listener-class>
</listener>

       <servlet>
              <servlet-name>FornecedoresServiceSOAP</servlet-name>
              <servlet-class>
                    com.sun.xml.ws.transport.http.servlet.WSServlet
              </servlet-class>
              <load-on-startup>1</load-on-startup>
       </servlet>

       <servlet-mapping>
              <servlet-name>FornecedoresServiceSOAP</servlet-name>
              <url-pattern>/FornecedoresServiceSOAP</url-pattern>
       </servlet-mapping>

       <mime-mapping>
              <extension>txt</extension>
              <mime-type>text/xml</mime-type>
       </mime-mapping>

</web-app>